{% load static %}
<div class="col">
	<label class="card p-0 m-auto mb-4 shadow-sm" for="pdf_0" style="width:10rem">
		<img src="{% static 'pdfsearch/images/0.jpg' %}" class="card-img-top rounded">
		<div class="card-body p-1 text-center">
			Select - {{form.pdf_0}}
		</div>
	</label>
</div>
<div class="col">
	<label class="card p-0 m-auto mb-4 shadow-sm" for="pdf_1" style="width:10rem">
		<img src="{% static 'pdfsearch/images/1.jpg' %}" class="card-img-top rounded">
		<div class="card-body p-1 text-center">
			Select - {{form.pdf_1}}
		</div>
	</label>
</div>
<div class="col">
	<label class="card p-0 m-auto mb-4 shadow-sm" for="pdf_2" style="width:10rem">
		<img src="{% static 'pdfsearch/images/2.jpg' %}" class="card-img-top rounded">
		<div class="card-body p-1 text-center">
			Select - {{form.pdf_2}}
		</div>
	</label>
</div>
<div class="col">
	<label class="card p-0 m-auto mb-4 shadow-sm" for="pdf_3" style="width:10rem">
		<img src="{% static 'pdfsearch/images/3.jpg' %}" class="card-img-top rounded">
		<div class="card-body p-1 text-center">
			Select - {{form.pdf_3}}
		</div>
	</label>
</div>
<div class="col">
	<label class="card p-0 m-auto mb-4 shadow-sm" for="pdf_4" style="width:10rem">
		<img src="{% static 'pdfsearch/images/4.jpg' %}" class="card-img-top rounded">
		<div class="card-body p-1 text-center">
			Select - {{form.pdf_4}}
		</div>
	</label>
</div>
<div class="col">
	<label class="card p-0 m-auto mb-4 shadow-sm" for="pdf_5" style="width:10rem">
		<img src="{% static 'pdfsearch/images/5.jpg' %}" class="card-img-top rounded">
		<div class="card-body p-1 text-center">
			Select - {{form.pdf_5}}
		</div>
	</label>
</div>
<div class="col">
	<label class="card p-0 m-auto mb-4 shadow-sm" for="pdf_6" style="width:10rem">
		<img src="{% static 'pdfsearch/images/6.jpg' %}" class="card-img-top rounded">
		<div class="card-body p-1 text-center">
			Select - {{form.pdf_6}}
		</div>
	</label>
</div>
<div class="col">
	<label class="card p-0 m-auto mb-4 shadow-sm" for="pdf_7" style="width:10rem">
		<img src="{% static 'pdfsearch/images/7.jpg' %}" class="card-img-top rounded">
		<div class="card-body p-1 text-center">
			Select - {{form.pdf_7}}
		</div>
	</label>
</div>
<div class="col">
	<label class="card p-0 m-auto mb-4 shadow-sm" for="pdf_8" style="width:10rem">
		<img src="{% static 'pdfsearch/images/8.jpg' %}" class="card-img-top rounded">
		<div class="card-body p-1 text-center">
			Select - {{form.pdf_8}}
		</div>
	</label>
</div>
<div class="col">
	<label class="card p-0 m-auto mb-4 shadow-sm" for="pdf_9" style="width:10rem">
		<img src="{% static 'pdfsearch/images/9.jpg' %}" class="card-img-top rounded">
		<div class="card-body p-1 text-center">
			Select - {{form.pdf_9}}
		</div>
	</label>
</div>
<div class="col">
	<label class="card p-0 m-auto mb-4" shadow-sm for="pdf_10" style="width:10rem">
		<img src="{% static 'pdfsearch/images/10.jpg' %}" class="card-img-top rounded">
		<div class="card-body p-1 text-center">
			Select - {{form.pdf_10}}
		</div>
	</label>
</div>