asgiref==3.3.4
chardet==4.0.0
dj-database-url==0.5.0
Django==3.2.3
django-heroku==0.3.1
fire==0.4.0
gunicorn==20.1.0
img2pdf==0.4.1
lxml==4.6.3
pdf2docx==0.5.1
pdf2image==1.15.1
pdfminer.six==20200517
pdfplumber==0.5.28
pikepdf==2.12.1
Pillow==8.2.0
psycopg2==2.8.6
pycryptodome==3.10.1
PyMuPDF==1.18.13
PyPDF2==1.26.0
pytesseract==0.3.7
python-docx==0.8.11
pytz==2021.1
six==1.16.0
sortedcontainers==2.4.0
sqlparse==0.4.1
termcolor==1.1.0
Wand==0.6.6
whitenoise==5.2.0
