{% extends 'core/base.html' %}
{% load static %}
{% block content %}
	<div class="container-fluid mt-5">
		<div class="row justify-content-around">
			<div class="col-lg-5 col-10 bg-white p-2 rounded text-center shadow-sm">
				<h2 class="m-0">SPLIT PDF</h2>
			</div>
		</div>
	</div>
	<div class="container-fluid mt-4 mb-10">
		<div class="row justify-content-center">
			<div class="col-lg-5 col-10 bg-white p-5 text-center rounded shadow-sm">
				<form action="{% url 'split' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<p><b>Select Pdf:</b></p>
					<div class="row g-0 mb-3">
						<div class="col-6">{{form.pageno}}</div>
						<div class="col-6">{{form.nofpages}}</div>
					</div>
					<div class="input-group">
						{{form.file}}
						<div class="input-group-append">
							<button class="btn btn-success" type="submit"><i class="fas fa-file-upload"></i></button>
						</div>
					</div>
				</form>
				<div class="alert alert-warning p-2 mt-4" role="alert" style="text-align: left;">
					Note:<br>
					1. Only PDFs under 15mb.<br>
					2. Provide valid initial page number and number of pages.
				</div>
			</div>
		</div>
	</div>
{% endblock %}