{% extends 'core/base.html' %}
{% load static %}
{% block content %}
	<div class="row p-5 mb-10">
		<div class="col-lg-6 mb-5 text-center">
			<img class="logo" src="{% static 'core/images/logo.png' %}">
		</div>
		<div class="col-lg-6 p-5 bg-white rounded shadow-sm">
			<p><b>DEVELOPERS</b></p>
			<p style="text-align: justify;">
				Abhijeet Shahakar<br>
				Ajinkya Babhulkar<br>
				Sanket Gadling<br>
				Saee Kakade<br>
				Abhishek Pachgade<br>
				Aaquib Khan
			</p>
		</div>
	</div>
{% endblock %}