<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>PDF Engine</title>
		<!-- Favicon -->
		<link rel="icon" href="{% static 'core/images/favicon.ico' %}">
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'core/css/fontawesome.css' %}">
		<!-- JS -->
		<script type="text/javascript" src="{% static 'core/js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'core/js/popper.js' %}"></script>
		<script type="text/javascript" src="{% static 'core/js/bootstrap.js' %}"></script>
		<script type="text/javascript" src="{% static 'core/js/fontawesome.js' %}"></script>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
	</head>
	
	<body class="p-0 container-fluid bg-transparent">
		{% include 'core/header.html' %}
		{% block content %}{% endblock %}
		{% include 'core/footer.html' %}
	</body>
</html>