{% if '/customsearch/' in request.get_full_path %}
	<form class="d-inline" action="{% url 'csbook' %}" method="post"> {% csrf_token %}
	{% else %}
		<form class="d-inline" action="{% url 'book' %}" method="post"> {% csrf_token %}
		{% endif %}
		<input type="text" id="pdf" name="pdf" value="{{pdf}}" hidden>
		{{book_form.search_text}}
		{{book_form.global_key}}
		{{book_form.limit}}
		{% if '/book/' in request.get_full_path %}
			<input class="btn btn-success btn-sm" type="submit" value="Load More Pages">
		{% else %}
			<input class="btn btn-success btn-sm" type="submit" value="Search Full Book">
		{% endif %}
	</form>