<div class="col-lg-8">
	<div class="buttons row justify-content-around text-center">
		<a class="col box g1 rounded shadow p-4 m-2" href="{% url 'pdfsearchindex' %}">
			<i class="fas fa-search" style="height: 3.5rem; width: 3.5rem;"></i>
			<p class="m-0"><b>Search in Our eBooks</b></p>
		</a>
		<a class="col box g2 rounded shadow p-4 m-2" href="{% url 'customsearchindex' %}">
			<i class="fas fa-search-plus" style="height: 3.5rem; width: 3.5rem;"></i>
			<p class="m-0"><b>Search in Your PDFs</b></p>
		</a>
		<div class="w-100"></div>
		<a class="col box g3 rounded shadow p-4 m-2" href="{% url 'pdfmergeindex' %}">
			<i class="fas fa-plus-square" style="height: 3.5rem; width: 3.5rem;"></i>
			<p class="m-0"><b>Merge PDFs</b></p>
		</a>
		
		<a class="col box g4 rounded shadow p-4 m-2" href="{% url 'pdfsplitindex' %}">
			<i class="fas fa-minus-square" style="height: 3.5rem; width: 3.5rem;"></i>
			<p class="m-0"><b>Split PDF</b></p>
		</a>
		<a class="col box g5 rounded shadow p-4 m-2" href="{% url 'pdfencryptindex' %}">
			<i class="fas fa-lock" style="height: 3.5rem; width: 3.5rem;"></i>
			<p class="m-0"><b>Encrypt PDF</b></p>
		</a>
		<a class="col box g6 rounded shadow p-4 m-2" href="{% url 'pdfdecryptindex' %}">
			<i class="fas fa-lock-open" style="height: 3.5rem; width: 3.5rem;"></i>
			<p class="m-0"><b>Decrypt PDF</b></p>
		</a>
		
		<a class="col box g7 rounded shadow p-4 m-2" href="{% url 'imgtopdfindex' %}">
			<i class="fas fa-file-pdf" style="height: 3.5rem; width: 3.5rem;"></i>
			<p class="m-0"><b>Images to PDF</b></p>
		</a>
		<a class="col box g8 rounded shadow p-4 m-2" href="{% url 'pdftoimgindex' %}">
			<i class="fas fa-images" style="height: 3.5rem; width: 3.5rem;"></i>
			<p class="m-0"><b>PDF to Images</b></p>
		</a>
		<a class="col box g9 rounded shadow p-4 m-2" href="{% url 'pdftowordindex' %}">
			<i class="fas fa-file-word" style="height: 3.5rem; width: 3.5rem;"></i>
			<p class="m-0"><b>PDF to Word</b></p>
		</a>
		
		<a class="col box g10 rounded shadow p-4 m-2" href="{% url 'imgtotextindex' %}">
			<i class="fas fa-align-justify" style="height: 3.5rem; width: 3.5rem;"></i>
			<p class="m-0"><b>Image to Text</b></p>
		</a>
		<a id="newfeature" class="col box g11 rounded shadow p-4 m-2" href="{% url 'pdfcprotectindex' %}">
			<i class="fas fa-shield-alt" style="height: 3.5rem; width: 3.5rem;"></i>
			<p class="m-0"><b>Copy Protect PDF</b></p>
		</a>
		<a class="col box g12 rounded shadow p-4 m-2">
			<i class="fas fa-spinner" style="height: 3.5rem; width: 3.5rem;"></i>
			<p class="m-0"><b>More Coming Soon...</b></p>
		</a>
	</div>
</div>