<div class="col-lg-8 mt-4 p-0">
	<div class="row justify-content-around">
		<a class="box g10 rounded col-1 shadow mb-4 text-white p-0" href="{% url 'pdfsearchindex' %}" style="height:9rem; width:9rem;" data-toggle="tooltip" data-placement="top" title="PDF Search">
			<i class="fas fa-search centerBlock" style="height: 3.5rem; width: 3.5rem;"></i>
		</a>
		<a class="box g9 rounded col-1 shadow mb-4 text-white p-0" href="{% url 'customsearchindex' %}" style="height:9rem; width:9rem;" data-toggle="tooltip" data-placement="top" title="Custom Search">
			<i class="fas fa-search-plus centerBlock" style="height: 3.5rem; width: 3.5rem;"></i>
		</a>
		<a class="box g8 rounded col-1 shadow mb-4 text-white p-0" href="{% url 'pdfmergeindex' %}" style="height:9rem; width:9rem;" data-toggle="tooltip" data-placement="top" title="Pdf Merge">
			<i class="fas fa-plus-square centerBlock" style="height: 3.5rem; width: 3.5rem;"></i>
		</a>
		<a class="box g7 rounded col-1 shadow mb-4 text-white p-0" href="{% url 'pdfsplitindex' %}" style="height:9rem; width:9rem;" data-toggle="tooltip" data-placement="top" title="Pdf Split">
			<i class="fas fa-minus-square centerBlock" style="height: 3.5rem; width: 3.5rem;"></i>
		</a>
		<a class="box g6 rounded col-1 shadow mb-4 text-white p-0" href="{% url 'pdfencryptindex' %}" style="height:9rem; width:9rem;" data-toggle="tooltip" data-placement="top" title="Pdf Encrypt">
			<i class="fas fa-lock centerBlock" style="height: 3.5rem; width: 3.5rem;"></i>
		</a>
		<a class="box g5 rounded col-1 shadow mb-4 text-white p-0" href="{% url 'pdfdecryptindex' %}" style="height:9rem; width:9rem;" data-toggle="tooltip" data-placement="top" title="Pdf Decrypt">
			<i class="fas fa-lock-open centerBlock" style="height: 3.5rem; width: 3.5rem;"></i>
		</a>
		<a class="box g4 rounded col-1 shadow mb-4 text-white p-0" href="{% url 'imgtopdfindex' %}" style="height:9rem; width:9rem;" data-toggle="tooltip" data-placement="top" title="Images to Pdf">
			<i class="fas fa-file-pdf centerBlock" style="height: 3.5rem; width: 3.5rem;"></i>
		</a>
		<a class="box g3 rounded col-1 shadow mb-4 text-white p-0" href="{% url 'pdftoimgindex' %}" style="height:9rem; width:9rem;" data-toggle="tooltip" data-placement="top" title="Pdf to Images">
			<i class="fas fa-images centerBlock" style="height: 3.5rem; width: 3.5rem;"></i>
		</a>
		<a class="box g2 rounded col-1 shadow mb-4 text-white p-0" href="{% url 'pdftowordindex' %}" style="height:9rem; width:9rem;" data-toggle="tooltip" data-placement="top" title="Pdf to Word">
			<i class="fas fa-file-word centerBlock" style="height: 3.5rem; width: 3.5rem;"></i>
		</a>
		<a class="box g1 rounded col-1 shadow mb-4 text-white p-0" href="{% url 'imgtotextindex' %}" style="height:9rem; width:9rem;" data-toggle="tooltip" data-placement="top" title="Image to Text">
			<i class="fas fa-align-justify centerBlock" style="height: 3.5rem; width: 3.5rem;"></i>
		</a>
	</div>
</div>