<div class="col">
	<p class="text-center"><b>DATABASE</b></p>
	<ul class="bg-white p-4 rounded shadow-sm">
		<a class="atag-b" href="https://www.sqlite.org" target="_blank"><li>SQLite</li></a>
	</ul>
	<p class="text-center"><b>MODULES USED</b></p>
	<ul class="bg-white p-4 rounded shadow-sm">
		<a class="atag-b" href="https://pypi.org/project/PyPDF2/" target="_blank"><li>PyPDF2</li></a>
		<a class="atag-b" href="https://pypi.org/project/pdf2image/" target="_blank"><li>pdf2image</li></a>
		<a class="atag-b" href="https://pypi.org/project/pdf2docx/" target="_blank"><li>pdf2docx</li></a>
		<a class="atag-b" href="https://pypi.org/project/img2pdf/" target="_blank"><li>img2pdf</li></a>
		<a class="atag-b" href="https://pypi.org/project/pytesseract/" target="_blank"><li>pytesseract</li></a>
		<a class="atag-b" href="https://docs.python.org/3/library/shutil.html" target="_blank"><li>shutil</li></a>
		<a class="atag-b" href="https://pypi.org/project/Pillow/" target="_blank"><li>PIL</li></a>
		<a class="atag-b" href="https://pypi.org/project/pdfplumber/" target="_blank"><li>pdfplumber</li></a>
	</ul>
</div>