{% load static %}
<div class="row pt-5 px-5">
	<div class="col-lg-6 mb-5 text-center">
		<img class="logo" src="{% static 'core/images/logo.png' %}">
	</div>
	<div class="col-lg-6 p-5 bg-white rounded shadow-sm">
		<p><b>DESCRIPTION</b></p>
		<p style="text-align: justify;">
			PDFEngine is an all-in-one PDF software designed for personal use and productivity. This web based PDF service can be used to manage and organize your PDF documents, compress PDF files, merge multiple PDF files into a single PDF, and convert to and from a PDF file.<br><br>
			Some of the top features include PDF Searching, PDF merging, PDF splitting, image to PDF and PDF to images. The PDFEngine also provides encryption and decryption of PDFs. PDFEngine is totally free to use with unlimited service plan.
		</div>
	</div>