<div class="container-fluid bg-dark shadow-sm text-white">
	<div class="row p-5">
		<div class="col-12 align-items-center">
			<ul class="d-inline-block">
				<a class="atag-w" href="{% url 'aboutdevs' %}"><li>About Developers</li></a>
				<a class="atag-w" href="{% url 'sitedes' %}"><li>Site Description</li></a>
			</ul>
			<ul class="d-inline-block">
				<a class="atag-w" href="{% url 'pdfsearchindex' %}"><li>PDF Search</li></a>
				<a class="atag-w" href="{% url 'customsearchindex' %}"><li>Custom Search</li></a>
			</ul>
			<ul class="d-inline-block">
				<a class="atag-w" href="{% url 'pdfmergeindex' %}"><li>PDFs Merge</li></a>
				<a class="atag-w" href="{% url 'pdfsplitindex' %}"><li>PDF Split</li></a>
			</ul>
			<ul class="d-inline-block">
				<a class="atag-w" href="{% url 'pdfencryptindex' %}"><li>PDF Encrypt</li></a>
				<a class="atag-w" href="{% url 'pdfdecryptindex' %}"><li>PDF Decrypt</li></a>
			</ul>
			<ul class="d-inline-block">
				<a class="atag-w" href="{% url 'imgtopdfindex' %}"><li>Images 2 PDF</li></a>
				<a class="atag-w" href="{% url 'pdftoimgindex' %}"><li>PDF 2 Images</li></a>
			</ul>
			<ul class="d-inline-block">
				<a class="atag-w" href="{% url 'pdftowordindex' %}"><li>PDF 2 Word</li></a>
				<a class="atag-w" href="{% url 'imgtotextindex' %}"><li>Image 2 Text</li></a>
			</ul>
		</div>
		<div class="col-12 p-2 text-center">
			<b>copyright@PdfEngine</b>
		</div>
	</div>
</div>
</div>