{% extends 'core/base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
	<div class="container-fluid mt-5">
		<div class="row justify-content-around">
			<div class="col-lg-8 col-10 bg-white p-2 rounded text-center shadow-sm">
				<h2 class="m-0">Page No. {{page_no}}</h2>
			</div>
		</div>
	</div>
	<div class="container-fluid mt-3 mb-10">
		<div class="row justify-content-around">
			<div class="col-lg-8 col-10 bg-white p-4 p-lg-5 rounded shadow-sm">
				<pre class="m-0" style="text-align: justify;">
					{{page_text|highlight_all_search:search_text_list}}
				</pre>
			</div>
		</div>
	</div>
{% endblock %}