<div class="row mt-5 mb-5 justify-content-center">
	<div class="col-10">
		<div class="row justify-content-around">
			<div class="col-12 mb-5 text-center">
				<h1>Tools Details</h1>
			</div>
			<div class="col-lg-5 mb-4">
				<div class="row">
					<div class="rotating col-1 g1 text-white" style="height:5rem; width:5rem; border-radius: 50%;">
						<i class="fas fa-search centerBlock" style="height: 1.75rem; width: 1.75rem;"></i>
					</div>
					<div class="col align-self-center" style="text-align: justify;">
						This online tool allows you to search a word or phrase in our E-books database.
					</div>
				</div>
			</div>
			<div class="col-lg-5 mb-4">
				<div class="row">
					<div class="rotating col-1 g2 text-white" style="height:5rem; width:5rem; border-radius: 50%;">
						<i class="fas fa-search-plus centerBlock" style="height: 1.75rem; width: 1.75rem;"></i>
					</div>
					<div class="col align-self-center" style="text-align: justify;">
						This online tool allows you to search a word or phrase in your uploaded PDFs.
					</div>
				</div>
			</div>
			<div class="col-lg-5 mb-4">
				<div class="row">
					<div class="rotating col-1 g3 text-white" style="height:5rem; width:5rem; border-radius: 50%;">
						<i class="fas fa-plus-square centerBlock" style="height: 1.75rem; width: 1.75rem;"></i>
					</div>
					<div class="col align-self-center" style="text-align: justify;">
						This online tool allows you to join multiple PDF documents into a single PDF file.
					</div>
				</div>
			</div>
			<div class="col-lg-5 mb-4">
				<div class="row">
					<div class="rotating col-1 g4 text-white" style="height:5rem; width:5rem; border-radius: 50%;">
						<i class="fas fa-minus-square centerBlock" style="height: 1.75rem; width: 1.75rem;"></i>
					</div>
					<div class="col align-self-center" style="text-align: justify;">
						Extract pages from your PDF and save as a separate PDF.
					</div>
				</div>
			</div>
			
			<div class="col-lg-5 mb-4">
				<div class="row">
					<div class="rotating col-1 g5 text-white" style="height:5rem; width:5rem; border-radius: 50%;">
						<i class="fas fa-lock centerBlock" style="height: 1.75rem; width: 1.75rem;"></i>
					</div>
					<div class="col align-self-center" style="text-align: justify;">
						Add a password and encrypt your PDF file.
					</div>
				</div>
			</div>
			<div class="col-lg-5 mb-4">
				<div class="row">
					<div class="rotating col-1 g6 text-white" style="height:5rem; width:5rem; border-radius: 50%;">
						<i class="fas fa-lock-open centerBlock" style="height: 1.75rem; width: 1.75rem;"></i>
					</div>
					<div class="col align-self-center" style="text-align: justify;">
						Remove password, encryption, and permission from your PDF.
					</div>
				</div>
			</div>
			
			<div class="col-lg-5 mb-4">
				<div class="row">
					<div class="rotating col-1 g7 text-white" style="height:5rem; width:5rem; border-radius: 50%;">
						<i class="fas fa-file-pdf centerBlock" style="height: 1.75rem; width: 1.75rem;"></i>
					</div>
					<div class="col align-self-center" style="text-align: justify;">
						Easily combine multiple JPG images into a single PDF file. This service keeps the original resolution.
					</div>
				</div>
			</div>
			<div class="col-lg-5 mb-4">
				<div class="row">
					<div class="rotating col-1 g8 text-white" style="height:5rem; width:5rem; border-radius: 50%;">
						<i class="fas fa-images centerBlock" style="height: 1.75rem; width: 1.75rem;"></i>
					</div>
					<div class="col align-self-center" style="text-align: justify;">
						Free online PDF converter allows you to save a PDFs as a set of separate images, ensuring better image quality and size.
					</div>
				</div>
			</div>
			
			<div class="col-lg-5 mb-4">
				<div class="row">
					<div class="rotating col-1 g9 text-white" style="height:5rem; width:5rem; border-radius: 50%;">
						<i class="fas fa-file-word centerBlock" style="height: 1.75rem; width: 1.75rem;"></i>
					</div>
					<div class="col align-self-center" style="text-align: justify;">
						Free PDF to DOCX converter converts PDFs to Word files, compatible will all major office software.
					</div>
				</div>
			</div>
			<div class="col-lg-5 mb-4">
				<div class="row">
					<div class="rotating col-1 g10 text-white" style="height:5rem; width:5rem; border-radius: 50%;">
						<i class="fas fa-align-justify centerBlock" style="height: 1.75rem; width: 1.75rem;"></i>
					</div>
					<div class="col align-self-center" style="text-align: justify;">
						Free and easy to use online image to text converter to extract text data from images.
					</div>
				</div>
			</div>
			<div class="col-lg-5 mb-4">
				<div class="row">
					<div class="rotating col-1 g11 text-white" style="height:5rem; width:5rem; border-radius: 50%;">
						<i class="fas fa-shield-alt centerBlock" style="height: 1.75rem; width: 1.75rem;"></i>
					</div>
					<div class="col align-self-center" style="text-align: justify;">
						Online and free tool to protect PDF content from copying.
					</div>
				</div>
			</div>
			<div class="col-lg-5 mb-4">
				<div class="row">
					<div class="rotating col-1 g12 text-white" style="height:5rem; width:5rem; border-radius: 50%;">
						<i class="fas fa-spinner centerBlock" style="height: 1.75rem; width: 1.75rem;"></i>
					</div>
					<div class="col align-self-center" style="text-align: justify;">
						More Tools Coming Soon...
					</div>
				</div>
			</div>
		</div>
	</div>
</div>