* {
	font-family: 'Sen', sans-serif;
}

body {
	position: relative;
}

html {
	background: #F0F3F5;
}

html,
body {
	overflow-x: hidden;
}

img {
	width: 100%;
	object-fit: cover;
}

.atag-b {
	text-decoration: none;
	color: black;
}

.atag-b:hover {
	color: #009433;
	font-weight: bold;
}

ul {
	list-style: none;
}

.g1 {
	background: #EE4D4D;
}

.g2 {
	background: #5E94FF;
}

.g3 {
	background: #FF884D;
}

.g4 {
	background: #FFC44D;
}

.g5 {
	background: #88C94D;
}

.g6 {
	background: #4DDBC4;
}

.g7 {
	background: #4DC4FF;
}

.g8 {
	background: #AD71FF;
}

.g9 {
	background: #FF4DA5;
}

.g10 {
	background: #8B98A5;
}

.g11 {
	background: #EE7879;
}

.g12 {
	background: #454545;
}

.box {
	transition: 0.5s;
	min-width: 10rem;
}

.box:hover {
	transition: 0.5s;
	transform: scale(0.85);
}

.centerBlock {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.atag-w {
	text-decoration: none;
	color: white;
}

.atag-w:hover {
	color: #009433;
	font-weight: bold;
}

.mb-10 {
	margin-bottom: 10rem;
}

.rotating {
	transition: 0.5s;
}

.rotating:hover {
	animation: rotating 1s linear infinite;
}

.rotating-always {
	animation: rotating 1s linear infinite;
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.logo {
	width: 20rem;
}

.logo-small {
	width: 15rem;
}

.buttons a {
	text-decoration: none;
	color: white;
}

.buttons a:hover {
	color: white;
}